*{
    box-sizing: border-box;
    margin: 0;
    }
    .header{
        background-color: gray;
        color: white;
        height: 35px;
        border: top 10px;
        width: 100vw;
    }
    .chat-box {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top{
        display:  flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        position: relative;
    }
    
    .righttext1,.righttext3{
        background-color: rgb(60, 172, 60);
        width: 200px;
        height:   30px;
        border-radius: 16px;
        padding-top: 4px;
        padding-left:10px ;
        z-index: 3;
    }
    .circle1{
        position: absolute;
        width: 30px;
        height: 25px;
        border-radius: 50%;
        background-color:rgb(60, 172, 60) ;
        top: -6px;
        right: 0px;
        z-index: 1;
    }
    .circle2{
        position: absolute;
        width: 33px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        top: -11px;
        right: 2px;
        z-index: 2;
    }
    
    .righttext2{
        background-color: rgb(188, 178, 178);
        width: 200px;
        height:  30px;
        border-radius: 16px;
        padding-top: 4px;
        padding-left:10px ;
        position: relative;
    }
    .x{
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        right: -3px;
        background-color: rgb(142, 139, 139);
        border-radius: 50%;
        text-align: center;
        color: white;
    }
    
    .bottom{
        margin-top: 10px;
        display:  flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .lefttext1,.lefttext2{
        background-color: gray;
        width: 200px;
        height:30px;
        border-radius: 16px;
        padding-top: 4px;
        padding-left:10px ;
    }